/* Variables */
:root {
    --low-white: hsla(0, 0%, 90%, 0.5);
    --off-white: hsla(0, 0%, 98%, 1);
    --low-black: hsla(0, 0%, 10%, 1);
    --off-black: hsla(0, 0%, 20%, 1);
    --blue-default: #282cfb;
    --border-thick: 0.15rem;
}

/* Core Html Section */

html {
    font-size: 22px;
    font-family: 'Consolas', 'Andale Mono', sans-serif;
}

body {
    position: relative;
    background-color: var(--low-white);
    line-height: 1.5;
    color: var(--low-black);
}

header {
    background-color: hsla(0, 0%, 100%, 1);
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: var(--border-thick) solid var(--blue-default);
    box-shadow: 0px 0px 6px 0px var(--low-black);
}

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
    background-color: var(--off-white);
    padding-bottom: 1rem;
}

nav {
    align-self: flex-end;
}

nav ul {
    display: flex;
    padding-right: 2rem;
}

nav ul li {
    padding: 0 0.5rem;
}

main>section {
    margin: 2rem 0;
}

h1 {
    font-size: 2.75rem;
    padding: 0 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    padding-left: 4rem;
    font-weight: bold;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

h6 {
    font-size: 0.75rem;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: hsla(0, 0%, 100%, 1);
    padding: 2rem 0;
    border-top: var(--border-thick) solid var(--blue-default);
}

/* Header Section */
header h2 {
    font-weight: normal;
}

.name-detail {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--blue-default);
}

/* Hero Section */

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero img {
    max-width: 40%;
    min-width: 30%;
    margin: 5%;
    border: var(--border-thick) solid var(--blue-default);
    border-radius: 50%;
}

.nav-offset {
    scroll-margin-top: 6rem;
}

/* About Me Section */

#about-me p {
    padding: 0 10%;
    margin: 1rem 0;
}

/* Knowledges Section */

.sub-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-section ul li {
    text-align: center;
    width: 12rem;
    border: var(--border-thick) solid var(--blue-default);
    border-radius: 5px;
    margin: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px -5px var(--off-black);
}

.show-section {
    display: none;
}

.show-section a {
    margin: 1rem 0;
}

.li-title {
    font-weight: bold;
    margin: 1.5rem 1rem;
    justify-self: center;
    align-items: center;
}

.li-button {
    background-color: var(--blue-default);
    color: var(--off-white);
    border-radius: var(--border-thick);
    max-width: 45%;
    align-self: center;
    margin-bottom: 0.75rem;
    padding: 0.25rem;
    font-weight: bold;
    font-size: 0.75rem;
}

.li-paragraph {
    font-size: 0.85rem;
    text-align: left;
    padding: 0.75rem;
}

/* Technologies Section */

#technologies ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
    justify-content: center;
}

#technologies img {
    width: 7rem;
    height: 7rem;
    margin: 0 1rem;
}

#technologies figcaption {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}